# =============== #
# Unity generated #
# =============== #
Temp/
Library/
UserSettings/Layouts

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/Library/*
.vscode

# Other folders
/Assets/Config/*
/Assets/TextMesh Pro/Resources/Shaders/*
/ProjectSettings/*
Logs/
node_modules

# Files
!/Assets/Config/config-template.json
!/ProjectSettings/ProjectSettings.asset
!/ProjectSettings/ProjectVersion.txt
.env
/.vs/home-dashboard/v15/Server/sqlite3/db.lock
/.vs/home-dashboard/v15/Server/sqlite3/storage.ide
/.vs/home-dashboard/v15/Server/sqlite3/storage.ide-shm
/.vs/home-dashboard/v15/Server/sqlite3/storage.ide-wal
/.vscode/settings.json
/Assets/config.json
/Assets/config.json.meta
/Builds/*.apk
/Builds/Home Dashboard.apk
/Builds/install-toms-house.cmd