.change-recipe {
  height: 60vh;

  &-control {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;

    button {
      background-color: #2970ff;
      border: 0;
      border-radius: 10px;
      color: #fff;
      font-size: 1.75cqmin;
      min-height: 50px;
      width: 20%;
    }

    input {
      border: 1px solid lightgrey;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 2cqmin;
      min-height: 50px;
      padding: 0 10px;
      width: 80%;
    }
  }

  &-recipes {
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 85%;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;

    button {
      margin-right: 10px;
      border: 0;
      border-radius: 10px;
      height: 4cqmin;
      width: 4cqmin;
    }

    .fa-circle-notch {
      margin: auto;
      width: 100%;
      color: #2970ff;
    }
  }

  &-item {
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    width: 100%;
  }
}
