.change-recipe {
  height: 60vh;

  input {
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: inherit;
    font-size: large;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 0 10px;
    width: 90%;
  }
}
