.menu {
  background: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  bottom: 0;
  color: #b0b1b0;
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 25%;

  &-closed {
    transform: translate(100%, 0);
    transition: transform 0.5s;
  }

  &-open {
    box-shadow: -5px 0 5px lightgrey;
    transform: translate(0%, 0);
    transition: transform 0.5s;
  }

  &-toggle-button {
    background: transparent;
    border: none;
    border-radius: 10px 0 0 10px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-100%, 0);
    z-index: 1000;

    &-open {
      color: red;
    }
  }

  hr {
    border: 1px solid rgb(211 211 211 / 0.3);
    border-radius: 10px;
    margin-top: auto;
    width: 80%;
  }

  &-item {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    gap: 6%;
    padding: 20px;
    width: 100%;

    &:hover {
      background: rgb(0 0 0 / 0.04);
    }

    &-selected {
      color: #2970ff;
    }
  }
}
