.recipe-manager {
  font-size: 2cqmin;
  padding: 5%;

  h1 {
    color: white;
    margin-top: 0;
  }

  &-controls {
    align-items: center;
    display: inline-flex;
    width: 100%;

    i {
      color: green;

      &:nth-of-type(1) {
        margin-left: auto;
        margin-right: 2cqmin;
      }
    }

    input {
      border: 1px solid lightgrey;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 2cqmin;
      min-height: 5cqmin;
      width: 60%;
    }
  }

  &-recipes {
    -webkit-box-pack: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }

  &-recipe {
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 10px;
    color: grey;
    filter: drop-shadow(rgb(16 24 40 / 0.06) 0 0 16px);
    height: 8cqmin;
    margin: 1cqmin auto;
    padding: 2cqmin 1cqmin;
    width: 25cqmin;

    &-title {
      font-size: large;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    &-buttons {
      align-items: center;
      display: inline-flex;
      gap: 2cqmin;
      justify-content: center;
      margin: 3cqmin 0;
      width: 100%;

      i {
        color: #2970ff;
      }
    }
  }
}
