.todoist {
  height: 78%;
  overflow-y: hidden;
  text-align: left;
  width: 100%;

  &-item {
    align-items: center;
    display: inline-flex;
    font-size: 6cqmin;
    width: 100%;

    i {
      margin: 0 6px;
    }

    div {
      margin-right: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button {
    border: none;
    border-radius: 10px;
    bottom: 0;
    color: white;
    cursor: pointer;
    filter: brightness(120%);
    font-family: inherit;
    height: calc(var(--gs-cell-height) / 3);
    margin-bottom: 10px;
    position: absolute;
    right: calc(50% - ((var(--gs-column-width) * 5) / 2));
    width: calc(var(--gs-column-width) * 5);

    &:hover {
      filter: brightness(90%);
    }
  }
}
