.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;

  &-overlay {
    background-color: rgb(0 0 0 / 0.5);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-box {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    min-height: 40%;
    position: relative;
    width: 60%;

    i {
      color: #fff;
      cursor: pointer;
    }
  }

  &-title {
    align-items: center;
    background-color: #2970ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    display: inline-flex;
    font-size: 3cqmin;
    justify-content: space-between;
    min-height: 15%;
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  &-children {
    padding: 20px;
  }
}
