<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1}]')
 });
 </script>
 <% content_for :title do %>24 Sussex Avenue<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2", data-sizex="1", data-sizey="1">
      <div data-id="NationalRail" data-view="NationalRail" data-unordered="true", data-title="Trains" data-station="Horsforth"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="news" data-view="News"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="weeklyweather" data-view="WeeklyWeather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="google_calendar_tom" data-view="GoogleCalendar" data-title="Tom's Calendar" style="background-color: #4285F4">
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" >
      <div data-id="google_calendar_lauren" data-view="GoogleCalendar" data-title="Lauren's Calendar" style="background-color: #E67C73">
    </li>
  </ul>
</div>
