<% content_for :title do %>24 Sussex Avenue<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2", data-sizex="2", data-sizey="1">
      <div data-id="NationalRail" data-view="NationalRail" data-unordered="true", data-title="Trains | Horsforth"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="news" data-view="News"></div>
</li>
  </ul>
</div>
