.bin-day {
  font-weight: bold;
  padding: 50%;
  width: 100%;

  i {
    color: rgb(255 255 255 / 0.3);
    font-size: 6em !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 20%;
    width: 100%;
  }
}
